<div class="container">
    <div class="header">
        <h3 class="title">{{title | titlecase}}</h3>
        <div>
            <button (click)="onAdd()">Add New</button>
        </div>
    </div>
    <div>
        <table class="table" aria-describedby="table">
            <thead>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let review of reviewsList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{review.title}}</td>
                    <td>{{review.content}}</td>
                    <td>{{review.updatedAt | date : 'dd-MMM-yyyy hh:mm a'}}</td>
                    <td>
                        <a class="link" (click)="onEdit(review._id)">Edit</a>
                    </td>
                    <td>
                        <a class="link" (click)="onDelete(review._id)">Delete</a>
                    </td>
                </tr>
                <ng-container *ngIf="reviewsList.length == 0">
                    <tr>
                        <td colspan="6">
                            No Reviews Available.
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>