.heading {
margin-left: 40px;
}
.form-container {
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    .form-row {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
}